DATABASE_URL="file:./dev.db"
JWT_SECRET="your_super_secret_key_123"
RESET_PASSWORD_SECRET="your_reset_password_secret"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_AUTH_USER="user@example.com"
SMTP_AUTH_PASS="smtp_password"
SENDER_EMAIL="noreply@library.com"
APP_BASE_URL="http://localhost:3000"
PORT="3000"